.addOptionError {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.addOption {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}

.addOption__input {
  flex-grow: 1;
  background-color: $dark-blue;
  border: none;
  color: $off-white;
  padding: $s-size;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
}

@media (min-width: $desktop-breakpoint) {
  .addOption {
    flex-direction: row;
  }

  .addOption__input {
    margin: 0 $s-size 0 0;
  }
}
